body{
    background: linear-gradient(68.15deg, #afcac9 16.62%,  #31afb4 50.61% );
}

header{
    background-color: #31afb4;
    padding: 20px 0;
}

footer{
    background-color: #31afb4;
    padding: 50px 0;
    text-align: center;
    color: aliceblue;
    margin-top: 500px;
   
}

/*footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 50px 0;
    color: aliceblue;
}*/

nav a{
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

nav a:hover{
    color: #ffffff;
    text-decoration:solid;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav{
    position: absolute;
    top: 110px;
    right: 60px;
}

.box{
    position: relative;
    width: 940px;
    margin: 0 auto;
    
}
